{% extends "layout.html" %} {% block content %}
<div class="caption text-center">
  <div class="container">
    <header>
      <div class="row">
        <h1>軽音スケジュール</h1>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </header>
  </div>
  <h3>調整中</h3>
  <a href="/band" class="btn btn-outline-primary btn-lg">日程調整ページへ</a>
  <a href="/create_group" class="btn btn-outline-secondary btn-lg">グループ作成ページへ</a>
  <a href="/create_user" class="btn btn-outline-success btn-lg">ユーザー登録ページへ</a>
  <a href="/login" class="btn btn-outline-warning btn-lg">ログインページへ</a>
</div>
{% endblock %}