<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <meta http-equiv="content-style-type" content="text/css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/densuke.css?dt=201905" /> -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <meta name="description" content="" />
  <meta name="keywords" content="bib" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="340024623415248">
  <meta property="og:image" content="https://densuke.biz/images/og.jpg" />
  <meta name="robots" content="NOINDEX,NOFOLLOW" />
  <title>伝助（bib）</title>
  <script type="text/javascript">
    <!--
    function chBackGround(e) {
      e.className = e.options[e.selectedIndex].className;
    }

    function btnclick(id, key) {
      for (i = 1; i <= 4; i++) {
        if (i == key) {
          if (document.getElementById("join-" + id).value == key) {
            document.getElementById(id + i).className = "btnsp btnna";
            document.getElementById("join-" + id).value = '0';
          } else {
            document.getElementById(id + i).className = "btnsp btnac" + key;
            document.getElementById("join-" + id).value = key;
          }
        } else {
          if (document.getElementById(id + i) != null) {
            document.getElementById(id + i).className = "btnsp btnna";
          }
        }
      }
    }

    function bulkchange(id, key) {
      if (document.getElementById("join-" + id).value > 0 && document.inputform.bulkflag.checked == true) {} else {
        for (i = 1; i <= 4; i++) {
          if (i == key) {
            document.getElementById(id + i).className = "btnsp btnac" + key;
            document.getElementById("join-" + id).value = key;
          } else {
            if (document.getElementById(id + i) != null) {
              document.getElementById(id + i).className = "btnsp btnna";
            }
          }
        }
      }
    }

    function bulkview() {
      document.getElementById("bulkarea").style.display = "block";
    }

    function bulkclick(key) {
      var input_tags = document.getElementById("listtable").getElementsByTagName("input");
      for (var i = 0; i < input_tags.length; i++) {
        if (input_tags[i].name.substr(0, 4) == 'join') {
          bulkchange(input_tags[i].name.substr(5), key);
        }
      }
    }

    function memberdata(id) {
      document.inputform.mi.value = id;
      document.inputform.submit();
    }
    // -->
  </script>
</head>
<script language="javascript">
  <!--
  function insertdata() {
    if (document.inputform.membername.value == '') {
      alert("名前を入力してください。");
      return false;
    }
    document.inputform.action = 'insert?cd=qCkkDBkhvKvbVEbS';
    return true;
  }

  function updatedata() {
    document.inputform.action = 'regist?cd=qCkkDBkhvKvbVEbS';
    document.inputform.ai.value = 'u';
    return true;
  }

  function updatedata2() {
    document.inputform.action = 'regist?cd=qCkkDBkhvKvbVEbS';
    if (document.inputform.deleteflag.checked == true) {
      if (confirm('削除してよろしいですか？')) {
        document.inputform.ai.value = 'd';
        return true;
      }
    }
    if (document.inputform.membername.value == '') {
      alert("名前を入力してください。");
      return false;
    }
    document.inputform.ai.value = 'u2';
    return true;
  }

  function lout() {
    document.inputform.logout.value = '1';
    document.inputform.submit();
  }

  function pageback() {
    document.inputform.mi.value = '';
    document.inputform.submit();
  }

  function noregist() {
    document.inputform.action = 'regist?cd=qCkkDBkhvKvbVEbS';
    document.inputform.ai.value = 'd';
    document.inputform.submit();
  }

  function sizeconf() {
    if (window.innerHeight < document.getElementById('regdiv').clientHeight) {
      document.getElementById("regdiv").style.overflow = "visible";
    }
  }

  function sizeconfsp() {
    if (window.innerWidth < document.getElementById('listtable').clientWidth) {
      document.getElementById("lbldrag").style.display = "block";
    }
  }
  // End of script -->
</script>

<body id="page-index" style="background-color:#ffffff;" onLoad="sizeconf(); FixedMidashi.create();">
  <div id="wrapperlist">
    <!-- begin #header -->
    <div id="header">
      <table class="layouttable" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td id="logo">
            <h1>　スケジュール調整サービス<br />
              <a href="./"><img src="images/common/header_logo.gif" width="177" height="48" style="margin-right:12px;" /></a>
            </h1>
          </td>
          <td style="vertical-align:middle;">
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F%E3%82%B9%E3%82%B1%E3%82%B8%E3%83%A5%E3%83%BC%E3%83%AB%E8%AA%BF%E6%95%B4%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E4%BC%9D%E5%8A%A9-230977170262681&width=450&layout=standard&action=like&size=small&show_faces=false&share=false&height=35&appId=340024623415248"
              width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </td>
          <td><img src="images/common/spacer.gif" width="10" height="10"></td>
          </td>
          <td style="vertical-align:middle;">
          </td>
        </tr>
      </table>
    </div>
    <!-- end #header -->
    <div id="contents">
      <!--begin mainbox-->
      <div class="mainbox" id="newcomer">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- article-banner -->
        <ins class="adsbygoogle" style="display:block; text-align:left;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-9075875240376043" data-ad-slot="2487937516"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <noscript>
<br />
<font color="#cc0000"><b>※ご使用のブラウザでJavaScriptがオフになっています。<br />
この状態では「伝助」が動作しませんため、ブラウザの設定でJavaScriptをオンにしてください。</b></font><br />
</noscript>
        <h2><span>bib</span></h2>
        <div class="explbox"></div> <br />
        <form action="list?cd=qCkkDBkhvKvbVEbS" name="inputform" method="post">
          <input type="hidden" name="id" value="4917862">
          <input type="hidden" name="mi" value="46116636">
          <input type="hidden" name="ai">
          <input type="hidden" name="logout">
          <div id="bulkdiv"><span id="bulkbtn"><a href="Javascript:bulkview();">一括で変更する ▼</a></span></div>
          <div id="bulkarea"><span class="btnsp btnac3" onClick="bulkclick('3');">○</span><span class="btnsp btnac2" onClick="bulkclick('2');">△</span><span class="btnsp btnac1" onClick="bulkclick('1');">×</span> <input type="checkbox" id="bulkflag" name="bulkflag">
            <label for="bulkflag">入力済の行は変更しない</label>
          </div>
          </table>
      </div>
      <div class="regist" id="regdiv">
        <table _fixedhead="rows:1; cols:1; div-auto-size:width; border-color:black; border-style:solid; border-width:2px;" cellspacing="0" class="listtbl" id="listtable">
          <tr>
            <td> </td>
            <td class="rline" nowrap>
              <div align="center">boi<input type="hidden" name="membername" value="boi" /></div>
            </td>
          </tr>
          <tr>
            <td nowrap>10/18(金)</td>
            <td nowrap class="rline" style="height:36px;"><span class="btnsp btnna" id="591384143" onClick="btnclick('59138414','3');">○</span><span class="btnsp btnna" id="591384142" onClick="btnclick('59138414','2');">△</span><span class="btnsp btnna" id="591384141" onClick="btnclick('59138414','1');">×</span>
              <input type="hidden" name="join-59138414" id="join-59138414" value="0"></td>
          </tr>
          <tr>
            <td nowrap>10/25(金)</td>
            <td nowrap class="rline" style="height:36px;"><span class="btnsp btnna" id="591384153" onClick="btnclick('59138415','3');">○</span><span class="btnsp btnna" id="591384152" onClick="btnclick('59138415','2');">△</span><span class="btnsp btnna" id="591384151" onClick="btnclick('59138415','1');">×</span>
              <input type="hidden" name="join-59138415" id="join-59138415" value="0"></td>
          </tr>
          <tr>
            <td nowrap>10/26(土)</td>
            <td nowrap class="rline" style="height:36px;"><span class="btnsp btnna" id="591384163" onClick="btnclick('59138416','3');">○</span><span class="btnsp btnna" id="591384162" onClick="btnclick('59138416','2');">△</span><span class="btnsp btnna" id="591384161" onClick="btnclick('59138416','1');">×</span>
              <input type="hidden" name="join-59138416" id="join-59138416" value="0"></td>
          </tr>
          <tr>
            <td nowrap>10/19(土)</td>
            <td nowrap class="rline" style="height:36px;"><span class="btnsp btnna" id="591384173" onClick="btnclick('59138417','3');">○</span><span class="btnsp btnna" id="591384172" onClick="btnclick('59138417','2');">△</span><span class="btnsp btnna" id="591384171" onClick="btnclick('59138417','1');">×</span>
              <input type="hidden" name="join-59138417" id="join-59138417" value="0"></td>
          </tr>
        </table>
      </div>
      コメント：<input type="text" name="membercomment" value="" style="width:680px;" /><br />
      <br />
      <input type="submit" value="登録する" onclick="return updatedata();" style="width:200px"> <a href="Javascript:noregist();">登録せずに戻る</a>
      </form>
      <br /><iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E3%2582%25B9%25E3%2582%25B1%25E3%2582%25B8%25E3%2583%25A5%25E3%2583%25BC%25E3%2583%25AB%25E8%25AA%25BF%25E6%2595%25B4%25E3%2582%25B5%25E3%2583%25BC%25E3%2583%2593%25E3%2582%25B9%25E4%25BC%259D%25E5%258A%25A9%2F230977170262681&amp;layout=button&amp;show_faces=false&amp;width=150&amp;action=like&amp;font&amp;colorscheme=light&amp;height=20"
        scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:134px; height:20px;" allowTransparency="true"></iframe>
      <br />
      <hr />
      <table class="layouttable" cellspacing="0" cellpadding="0" border="0" style="margin:15px 0 10px 0;">
        <tr>
          <td>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ds-rect-left -->
            <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-4891072771003598" data-ad-slot="7231571865"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </td>
          <td><img src="images/common/spacer.gif" width="15" height="10"></td>
          <td>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ds-rect-right -->
            <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-4891072771003598" data-ad-slot="8708305067"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </td>
        </tr>
      </table>
      <hr />
      <div>【更新の通知】<br />
        <input type="button" value="更新をメールで通知する" onClick="location.href ='mailnotice?cd=qCkkDBkhvKvbVEbS'">　[<a href="advance#help03">使い方</a>]<br /><br /> 【このページについての情報】
        <br /> ページ表示日時：2019年10月21日(月) 14:49<br /> 作成日時：2019年10月21日(月) 14:49<br /> 最終更新日時：2019年10月21日(月) 14:49<br /> 名前の表示位置：上側　[
        <a href="config?cd=qCkkDBkhvKvbVEbS&tp=b">行と列を入れ替え</a>]<br>
        <div id="fixdiv" style="display:none;">回答人数：1人<br /> 見出し列の固定：する　[
          <a href="config?cd=qCkkDBkhvKvbVEbS&tp=a">変更</a>]</div>
        ページアドレス：<br />https://densuke.biz/list?cd=qCkkDBkhvKvbVEbS<br /> ガラケー用アドレス：
        <br />http://densuke.biz/m/list?cd=qCkkDBkhvKvbVEbS<br />
      </div>
      <br />【データの出力】<br />
      <input type="button" value="CSV形式でデータを出力する" onClick="location.href ='csvsetting?cd=qCkkDBkhvKvbVEbS'"><br />
    </div>
    <!--end mainbox-->
  </div>
  <!--end contents-->
  <!--begin footer-->
  <div id="footer">
    <a href="./">トップページ</a> ｜ <a href="howto">使い方</a> ｜ <a href="event">イベント新規作成</a> ｜ <a href="help">よくある質問</a> ｜ <a href="query">お問い合わせ</a><br />
    <a href="history">ページ表示履歴</a> ｜ <a href="voice">ユーザーのつぶやき</a> ｜ <a href="privacy">プライバシーポリシー</a> ｜ <a href="http://e.densuke.biz/list?ii=46116636&amp;cd=qCkkDBkhvKvbVEbS">English</a><br />
    <p class="copyright">&copy; SHIMIZU Noriaki
      <a href="https://twitter.com/suisho" target="_blank"><img src="images/common/icon_twitter.png" width="16" height="16" border="0"></a> / Infoarrow Co.,Ltd. 2019</p>
  </div>
  <form name="spform" action="/list?ii=46116636&amp;cd=qCkkDBkhvKvbVEbS" method="post">
    <input type="hidden" name="viewmode">
  </form>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-2312097-1', 'densuke.biz');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <!--end footer-->
  </div>
  <!--end wrapper-->
  <!--end shadow-->
</body>
<script language="javascript">
  <!--
  function colview() {}
  // End of script -->
</script>
<script type="text/javascript" src="scripts/heading.js?dt=201802"></script>

</html>